<div class="registro" [class]="flagLoader == true ? 'no-interaction' : ''">
    @if (flagLoader) 
    {
        <div style="position: absolute; z-index: 10000; height: 200px; justify-content: center; top: 35%;">
            <app-loader [mensaje]="mensaje"></app-loader>
        </div>
    }
    <H1 style=" display: flex; position: absolute; font-family: 'Rampart One', sans-serif;">LOGIN</H1>
    <form class="form" action="" [formGroup]="formGroup" (ngSubmit)="login()">
            <label>
                <input required="" formControlName="mail" name="email" id="email" class="input" type="email">
                <span>Email</span>
                @if (formGroup.controls['mail'].errors !== null && formGroup.controls['mail'].touched) 
                {
                    @if (formGroup.controls['mail'].errors!['required']) 
                    {
                        <p style="color: red;">*Campo obligatorio</p>
                    }              
                }
            </label> 
                
            <label>
                <input required="" formControlName="clave" name="name" type="password" class="input">
                <span>Contraseña</span>
                @if (formGroup.controls['clave'].errors !== null && formGroup.controls['clave'].touched) 
                {
                    @if (formGroup.controls['clave'].errors!['required']) 
                    {
                        <p style="color: red;">*Campo obligatorio</p>
                    }
                    @if (formGroup.controls['clave'].errors!['minlength']) 
                    {
                        <p style="color: red;">*Min 6 caracteres</p>
                    }               
                }
            </label>

            <button class="submit">Login</button>
        <p class="signin">¿No tenés una cuenta? <a routerLink="/register">Registrate</a> </p>
        
    </form>

    <div class="botones">
        <button class="button" (click)="login('matiasaltamira01@gmail.com', 'hola123')">
          <span class="shadow"></span>
          <span class="edge"></span>
          <div class="front">
            <span><img style="height: 70px; width: 90px;" src="https://firebasestorage.googleapis.com/v0/b/clinica-online-matias-altamira.appspot.com/o/pacientes%2Fadministrador.jpg?alt=media&token=d408d1cb-eaa1-409b-acef-a70c199b395a" ></span>
          </div>
          Administrador
        </button>
        
        <button class="button" (click)="login('inspiringcarver3@ysosirius.com', 'hola123')">
            <span class="shadow"></span>
            <span class="edge"></span>
            <div class="front">
              <span><img style="height: 70px; width: 90px;" src="https://firebasestorage.googleapis.com/v0/b/clinica-online-matias-altamira.appspot.com/o/pacientes%2Fespecialista2.jpg?alt=media&token=08fbe3cf-a1ce-46fb-b966-aa9c3e864501"></span>
            </div>
            Especialista
          </button>

          <button class="button" (click)="login('musinggagarin7@tomorjerry.com', 'hola123')">
            <span class="shadow"></span>
            <span class="edge"></span>
            <div class="front">
              <span><img style="height: 70px; width: 90px;" src="https://firebasestorage.googleapis.com/v0/b/clinica-online-matias-altamira.appspot.com/o/pacientes%2Fespecialista1.jpg?alt=media&token=1c1ad362-291d-4e58-bfa6-594c18b60a50"></span>
            </div>
            Especialista
          </button>

          <button class="button" (click)="login('inspiringcori2@tomorjerry.com', 'hola123')">
            <span class="shadow"></span>
            <span class="edge"></span>
            <div class="front">
              <span><img style="height: 70px; width: 90px;" src="https://firebasestorage.googleapis.com/v0/b/clinica-online-matias-altamira.appspot.com/o/pacientes%2Fpaciente1.jpg?alt=media&token=821021f0-a9e9-4ac9-be5a-adcee39a84ca"></span>
            </div>
            Paciente
          </button>

          <button class="button" (click)="login('graciousellis@justzeus.com', 'hola123')">
            <span class="shadow"></span>
            <span class="edge"></span>
            <div class="front">
              <span><img style="height: 70px; width: 90px;" src="https://firebasestorage.googleapis.com/v0/b/clinica-online-matias-altamira.appspot.com/o/pacientes%2Fpaciente2.jpg?alt=media&token=b87772b2-dd42-4751-a489-916a66b817bc"></span>
            </div>
            Paciente
          </button>

          <button class="button" (click)="login('kindsatoshi@typingsquirrel.com', 'hola123')">
            <span class="shadow"></span>
            <span class="edge"></span>
            <div class="front">
              <span><img style="height: 70px; width: 90px;" src="https://firebasestorage.googleapis.com/v0/b/clinica-online-matias-altamira.appspot.com/o/pacientes%2Fpaciente3.jpg?alt=media&token=1681ace7-2d7c-4561-bf44-ef24c08f636d"></span>
            </div>
            <label>Paciente</label>
          </button>
    </div>
</div>